/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #e7f0de;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

#todo-container {
    margin-top: 20px;
}

input {
    padding: 15px; /* Increased padding for todo-input */
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increased font size for todo-input */
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#empty {
    color: red;
}

/* Optional: Style for date input */
input[type="date"] {
    padding: 15px; /* Increased padding for todo-date */
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Increased font size for todo-date */
}
